@charset "UTF-8";
/*
#042940
#005C53
#9FC131
#DBF227
#D6D58E
*/
* {
    font-family: Arial, Helvetica, sans-serif
}
body {
    background-image: linear-gradient(to left, #9FC131, #DBF227, #D6D58E);
}
h1 {
    text-shadow: 1px 1px 2px #042940;
    border-radius: 10px;
    padding: 10px;
    background-image: linear-gradient(to left, #005C53, white);
    color: #042940;
}
h2 {
    text-shadow: 1px 2px 2px #04294065;
    border-radius: 10px;
    padding: 10px;
    background-image: linear-gradient(to left, #042940, white);
    color: #005C53;
}
main {
    box-shadow: 10px 10px 15px 5px #005c536d;
    border-radius: 10px;
    background-color: white;
    width: 600px;
    margin: auto;
    padding: 20px;
}
p {
    text-align: justify;
}