@charset "UTF-8";
*{
 margin: 0px;
}
/* HEADER =============== */
body {
}
header{
    box-shadow: 1px 1px 50px 10px black;
    line-height: 45px;
    text-align: center;
    background-color: black;
    padding: 50px;
}
header > h1{
    font-size: 3.4em;
    color: white;
}
header > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    color: white;
}
header > p > a{
    font-weight: bolder;
    color: white;
    text-decoration: none;
}
/* MAIN ============ */
body {
    background-color: gray;
}
main{
    box-shadow: 1px 1px 50px 10px black;
    margin: auto;
    max-width: 1250px;
}
#bug {
    background-image: url(image/background001.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
#book {
    background-image: url(image/background002.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
article {
    background-color: white;
    position: relative;
    width: 100%;
    aspect-ratio: 15 / 19;
    max-height: 550px;
}
article > p {
    margin-right: 10px;
    padding: 20px;
    font-style: italic;
    font-family: cursive;
    font-weight: bolder;
    position: absolute;
    top: 75px;
    font-size: 3.1vh;
}
article.content{
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    width: 100%;
    aspect-ratio: 15 / 19;
    max-height: 550px;
}
article.content > p{
    color: white;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.27);
    position: relative;
    aspect-ratio: 16 / 9;
    max-height: 550px;
}
/* FOOTER ============ */
footer{
    box-shadow: 1px 1px 50px 10px black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    background-color: black;
    font-size: 1.7vh;
    padding: 5px;
}