@charset "UTF-8";
*{
    margin: 0px;
}
body {
    background-color: lightblue;
}
main {
    margin: auto;
    max-width: 1000px;
    background-color: white;
    box-shadow: 1px 1px 10px 10px black;
}
section#bug{
    background-image: url(image/dog.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    box-shadow: inset 1px 1px 10px 10px black;
}
section#book{
    background-image: url(image/gato.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 1px 1px 10px 10px black;
}
article{
    border: 1px solid black;
    margin: auto;
    text-align: center;
}
div {
    margin: 100px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.442);
    width: 100px;
    height: 100px;
    border-radius: 50px;
}